<h1 class="header">Angular Link App</h1>
<div class="container">
  <form #linkForm="ngForm" (ngSubmit)="addArticle()">
    <h3>Add a new link</h3>
    <div class="form-group">
      <label for="title">Title</label>
      <input
        id="title"
        type="text"
        class="form-control"
        name="title"
        placeholder="Enter title"
        [(ngModel)]="title"
      />
    </div>
    <div class="form-group">
      <label for="link">Url</label>
      <input
        id="link"
        type="text"
        name="link"
        class="form-control"
        placeholder="Enter link"
        [(ngModel)]="link"
      />
    </div>
    <div class="form-group">
      <label for="img">Image Url</label>
      <input
        id="img"
        type="text"
        class="form-control"
        name="img"
        placeholder="Enter image link"
        [(ngModel)]="img"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary btn-sm">Submit link</button>
  </form>
  <h1>Links available</h1>
  <div *ngFor="let article of articles">
    <app-article [articles]="article"></app-article>
  </div>
</div>
